doctype
html
  head
    title #{title} - ui
    link(rel='stylesheet', href='/style/default.css')
    script(src='/script/jquery-2.2.3.min.js')
    script(src='/script/socket.io.js')
    block userscripts
  body
    header
      h1 servo-mapper
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
       p buggybot2 web ui