form(action='javascript:', onchange='changed_config()', onsubmit='set_config()')
  header
    select(name='id', onchange='get_config()')
      option(value='0') None
    button(type='submit') save
    img(onload='get_config()', src='/img/uncheck.png', height='0px')
    img#check(src='/img/uncheck.png', height='12px')
  .left
    .lbl
      input(name='label', type='text', value='')
      label label
    .min
      input(name='min_angle', type='number', value=0)
      label min
      button(type='button') current
    .max
      input(name='max_angle', type='number', value=0)
      label max
      button(type='button') current
  .right
    .pos position
      .position-graph not connected
    .angle angle
      .angle-graph not connected
  footer
    .calib1
      label calib1
      input(name='calib1_angle', type='number', value=0)
      input(name='calib1_position', type='number', value=0, readonly)
      button(type='button') current
    .calib2
      label calib2
      input(name='calib2_angle', type='number', value=0)
      input(name='calib2_position', type='number', value=0, readonly)
      button(type='button') current
